name: Build with Gradle
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 11

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Execute Gradle build
        run: ./gradlew build

      - name: Build shadowJar
        run: ./gradlew shadowJar

      - name: Upload shadowJar
        uses: actions/upload-artifact@v5
        with:
          name: stealing-artefacts-shadow
          path: build/libs/stealing-artefacts-*-all.jar
